<div class="pageTitle">
    <h1>Learning Library</h1>
</div>
<div class="row">
    <div class="col">
          <center><h3><a ng-href="#!/admin/addtolibrary"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a> Add An Item</h3></center>  
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-9">
        <input type="search" ng-model="queryLL" class="form-control " aria-describedby="search" placeholder="Search the Library"
            autofocus>
    </div>
    <div class="col-3">
        <select class="custom-select" ng-model="topic">
            <option value="">View All Topics</option>
            <option value="Communication">Communication</option>
            <option value="Conflict Management">Conflict Management</option>
            <option value="Teamwork">Teamwork</option>
            <option value="Personality Styles">Personality Styles</option>
            <option value="Tech Stuff">Tech Stuff</option>
            </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-xs-6" ng-repeat="item in LearningLib | filter:queryLL | filter:topic">
        <div class="list mb-2">
            <div class="list-header">
                <a ng-href="{{item.videoURL}}" target="_blank" class="list-header-image">
                                <img ng-src="{{item.thumbnailURL}}">
                            </a>
            </div>
            <div class="list-content">
                <h4><a ng-href="{{item.videoURL}}" target="_blank" class="text-black">{{item.title}}</a></h4>
                <span class="list-meta">
                            <span class="list-meta-item"><i class="fa fa-tag" aria-hidden="true"></i> {{item.topic}}</span>
                <a ng-href="{{item.fileLink}}" class="list-meta-item"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{item.filename}}</a>
                </span>
                <small>{{item.description}}</small>
                <br>
                <small><a ng-href="#!/admin/addtolibrary/{{item.libId}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Item</a></small> | 
                <small><a href="" ng-click="deleteSingleLibItem(item.libId)"><i class="fa fa-trash" aria-hidden="true"></i> Delete Item</a></small>
                
            </div>
        </div>