<div class="row">
    <div class="col">
        <div ng-repeat="item in cohortCombined |  orderBy:'-points'">
            <div class="card" style="width: 20rem;">
                    <center><h1>Cohort</h1></center>
                <img class="card-img-top" ng-src="{{item.crest}}" alt="Card image cap">
                <div class="card-body">
                    <center>
                        Points: {{item.points}}
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
            <div ng-repeat="item in houseCalls |  orderBy:'-points'">
                <div class="card" style="width: 20rem;">
                        <center><h1>{{item.id}}</h1></center>
                    <img class="card-img-top" ng-src="{{item.crest}}" alt="Card image cap">
                    <div class="card-body">
                        <center>
                           Points: {{item.points}}
                        </center>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>

<div class="col">
    <div ng-repeat="item in houseCalls |  orderBy:'-points'">
        <div class="card" style="width: 20rem;">
                <center><h1>{{item.id}}</h1></center>
            <img class="card-img-top" ng-src="{{item.crest}}" alt="Card image cap">
            <div class="card-body">
                <center>
                   Points: {{item.points}}
                </center>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>