<div class="pageTitle">
    <h1>Leader Board</h1>
</div>


<div class="row">
    <div class="col-9">
            <div class="w3-container">
                    <ul class="w3-ul w3-card-4">
                      <li class="w3-bar">
                        <!-- <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span> -->
                        <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                        <div class="w3-bar-item">
                          <span class="w3-large">Mike</span><br>
                          <span>Web Designer</span>
                        </div>
                      </li>
                    
                    </ul>
                  </div>
    </div>
    <div class="col-3">
        <center><h3>Cohort Standings</h3></center>
        <table class="table table-sm profile">
            <tbody>
                <tr ng-repeat="item in cohortCombined |  orderBy:'-points'">
                    <th scope="row" class="leader-cohort"> <a ng-href="#!/leaderboard/cohort/{{item.cohort}}"><img class="card-img-top" ng-src="{{item.crest}}" alt="Card image cap"></a></th>
                    <td style="text-align:left"><small>Points</small>
                        <br><span class="leader-points">{{item.points}}</span></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <center><h3>House Standings</h3></center>
        <table class="table table-sm profile">
            <tbody>
                <tr ng-repeat="item in houseCalls |  orderBy:'-points'">
                    <th scope="row" class="leader-cohort"> <a ng-href="#!/leaderboard/house/{{item.id}}"><img class="card-img-top" ng-src="{{item.crest}}" alt="Card image cap"></a></th>
                    <td style="text-align:left">{{item.id}}<br><small>Points</small>
                        <br><span class="leader-points">{{item.points}}</span></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div>NOTE: Points are calulated based team average</div>



<!-- <div class="row no-gutters">
    <div class="col">
        <div ng-repeat="item in cohortCombined |  orderBy:'-points'">
            <div class="card rank" style="width: 20rem;">
                <center>
                    <h2>Cohort</h2>
                </center>
                <a ng-href="#!/leaderboard/cohort/{{item.cohort}}"><img class="card-img-top" ng-src="{{item.crest}}" alt="Card image cap"></a>
                <div class="card-body">
                    <center>
                        Points: {{item.points}}
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="app/assets/images/1.png" alt="Card image cap">
                <div class="card-body">
                </div>
            </div>
        </div>

        <div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="app/assets/images/2.png" alt="Card image cap">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="app/assets/images/3.png" alt="Card image cap">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="app/assets/images/4.png" alt="Card image cap">
                <div class="card-body">
                </div>
            </div>
        </div>

    </div>

    <div class="col">
        <div ng-repeat="item in houseCalls |  orderBy:'-points'">
            <div class="card rank" style="width: 20rem;">
                <center>
                    <h2>{{item.id}}</h2>
                </center>
                <a ng-href="#!/leaderboard/house/{{item.id}}"><img class="card-img-top" ng-src="{{item.crest}}" alt="Card image cap"></a>
                <div class="card-body">
                    <center>
                        Points: {{item.points}}
                    </center>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div> -->
