<div class="loginTable">
        <img src="../app/assets/images/readtheroom.png">
        <center>
            <div class="form-group">
                <input class="loginInput form-control form-control-lg" placeholder="Email" type="text" autofocus="true" ng-model="account.email">

                <br>
                <input class="loginInput form-control form-control-lg" placeholder="Type Your Password" type="password" ng-model="account.password">
                <br>
                <button ng-click="logIn()" type="button" class="btn btn-primary btn-lg">LOGIN</button> <br>  <br>

                <button ng-click="login()" type="button" class="btn btn-primary btn-lg">REQUEST ACCESS</button>
            </div>
        </center>
</div>
