<div class="loginTable">
        Student Login & PW: studentUser@studentUser.com<br>
        Admin Login & PW: test@test.com<br>
       <img src="app/assets/images/ORBiS.png">
        <center>
            <div class="form-group">
                <input class="loginInput form-control form-control-lg" placeholder="Email" type="text" autofocus="true" ng-model="account.email">

                <br>
                <input class="loginInput form-control form-control-lg" placeholder="Type Your Password" type="password" ng-model="account.password">
                <br>
                <div class="buttons">
                <button ng-click="logIn()" type="button" class="btn btn-outline-success btn-block">LOGIN</button>

                <button ng-click="login()" type="button" class="btn btn-outline-info btn-block">REQUEST ACCESS</button>
            </div>
            </div>
        </center>
</div>
