<h3>{{title}}</h3>
<div class="row">
    <div class="col-8">
        <form>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" readonly id="staticEmail" value="Exercise Name: {{exerciseSubmit.exName}}">
                    <a ng-href="{{exerciseSubmit.exURL}}" target="_blank">Link to Exercise Details</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" readonly id="staticEmail" value="Milestone: {{exerciseSubmit.milestone}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="userName" class="col-sm-3 col-form-label"><b>Your Name:</b></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="exerciseSubmit.userName" id="userName" placeholder="Type Your Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="Cohort" class="col-sm-3 col-form-label"><b>Cohort:</b></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="exerciseSubmit.cohort" id="Cohort" placeholder="Cohort #">
                </div>
            </div>
            <div class="form-group row">
                <label for="studentRepo" class="col-sm-3 col-form-label"><b>YOUR Repo Link:</b></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="exerciseSubmit.studentRepoLink" id="studentRepo" placeholder="http://www.github.com/YOUR_REPO">
                </div>
            </div>

            <div class="form-group row">
                <label for="exerciseStatus" class="col-sm-3 col-form-label"><b>Exercise Status: </b></label>
                <div class="col-sm-9">
                    <select class="custom-select" id="exerciseStatus" ng-model="exerciseSubmit.status">
            <option selected>Open this select menu</option>
            <option value="In Progress">In Progress</option>
            <option value="Submitted">Submitted</option>
            <option value="Scored">Scored</option>
          </select>
                </div>
            </div>
            <div class="form-group">
                    <label for="studentFeedback">Your Notes</label>
                    <textarea class="form-control" ng-model="exerciseSubmit.studentFeedback" id="studentFeedback" rows="5"></textarea>
                </div>
                
                <div class="assignmentFeedbacks">
                    <div class="row">
                        <label for="assignmentRating" class="col-sm-3 col-form-label"><b> Rate this Exercise: </b></label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="assignmentRating" ng-model="exerciseSubmit.assignmentRating">
                            <option value="">Rate It!</option>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                          </select>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="assignmentFeedback">Assignment Feedback</label>
                        <textarea class="form-control" ng-model="exerciseSubmit.assignmentFeedback" id="assignmentFeedback" rows="3"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-default" ng-click="submitExercise()" onclick="myFunction()">{{submitButtonText}}</button>
                </div>
    </div>
    <div class="col-4">
        <div class="topExecute">
            <h4>Archive Exercise?</h4>
            <div class="form-check">
                <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="teacherStatus" ng-model="exerciseSubmit.archive" id="teacherStatus3" value="true" checked>
                            Archive it!
                        </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="teacherStatus" ng-model="exerciseSubmit.archive" id="teacherStatus1" value="false" checked>
                        Keep it in my to-do list
                    </label>
            </div>
            <div>
                <button class="btn btn-default" ng-click="submitExercise()">Save</button>
            </div>
        </div>
        <div class="classmateWhoRock">
            <div class="textForm">
                <h3>Need Help?</h3>
                <small>Here are classmates who completed this exercise.</small></div>
                {{notes}}
            <div class="row no-gutters">
                <div class="col-3" ng-repeat="user in showUsersWhoDidIt">
                    <div class="namesCompleted">{{user.first_name}}</div>
                    <img class="profileImageForms" ng-src="{{user.profileImg}}"><br>
                    <h4><span class="badge badge-info forms">{{user.achievement}}
                                </span></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<div class="form-group">
    <label for="teacherFeedback">Teacher Feedback/Notes</label>
    <textarea class="form-control" readonly ng-model="exerciseSubmit.teacherFeedback" id="teacherFeedback" rows="10"></textarea>
</div>
<div class="form-group row">

    <label for="date" class="col-sm-2 col-form-label"><b>Date Scored:</b></label>
    <div class="col-sm-10">
        <input readonly class="form-control" ng-model="exerciseSubmit.dateScored" type="date">
    </div>
</div>
<div class="form-group row">
    <label for="techSkills" class="col-sm-2 col-form-label"><b>Skills Aquired:</b></label>
    <div class="col-sm-10">
        <input type="text" class="form-control" readonly ng-model="exerciseSubmit.techSkills" id="techSkills" placeholder="Javascipt, Angular, CSS, etc.">
    </div>
</div>
<div class="form-group row">
    <label for="points" class="col-sm-2 col-form-label"><b>Points Awarded:</b></label>
    <div class="col-sm-10">
        <input type="text" class="form-control" readonly ng-model="exerciseSubmit.points" id="points" placeholder="SCORE!!">
    </div>
</div>
<div class="form-group row">
    <label for="scoredBy" class="col-sm-2 col-form-label"><b>Scored By:</b></label>
    <div class="col-sm-10">
        <input type="text" class="form-control" readonly ng-model="exerciseSubmit.scoredBy" id="scoredBy" placeholder="The Score Master!">
    </div>
</div>
</form>


<div id="snackbar">Your Exercise Has Been Updated</div>

<script>
    function myFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar")

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
    }
</script>