<h3>{{title}}</h3>
<form>
    <div class="form-group">
        <label>Profile Image Link</label>
        <input type="text" class="form-control" ng-model="profile.profileImg" required/>
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="What would you like to be called?" ng-model="profile.first_name" required/>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="What is your last name?" ng-model="profile.last_name" required/>
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input type="text" class="form-control" placeholder="What email can others use to contact you?" ng-model="profile.email"
            required/>
    </div>
    <div class="form-group">
        <label>Your GitHub Link</label>
        <input type="text" class="form-control" placeholder="What is your GitHub Profile Link?" ng-model="profile.gitHubLink" required/>
    </div>
    <div class="form-group">
        <label>Which Cohort are you repping? </label>
        <select class="custom-select" ng-model="profile.cohort" required>
            <option></option>
            <option value=20>20</option>
            <option value=21>21</option>
            <option value=22>22</option>
            <option value=23>23</option>
            <option value=24>24</option>
          </select>
    </div>

    <div class="form-group">
        <label>Which House are you repping? </label>
        <select class="custom-select" ng-model="profile.house" required>
                <option></option>
            <option value="Ignis">Ignis</option>
            <option value="Terra">Terra</option>
            <option value="Aqua">Aqua</option>
            <option value="Ventum">Ventum</option>
            <option value="No House">I'm a free agent</option>
        </select>
        <button class="btn btn-default" onclick="document.getElementById('id01').style.display='block'">Get Sorted Into Your House</button>
    </div>

    <div class="form-group">
        <label>My current tech focus is: </label>
        <select class="custom-select" ng-model="profile.techInterests" required>
                <option></option>
            <option value="HTML/CSS">HTML/CSS</option>
            <option value="Javascript">Javascript</option>
            <option value="Angular - Beginner">Angular - Beginner</option>
            <option value="Angular - Advanced">Angular - Advanced</option>
            <option value="Git">Git</option>
            <option value="JQuery">JQuery</option>
            <option value="Browserify">Browserify</option>
            <option value="JSON">JSON</option>
            <option value="AJAX">AJAX</option>
            <option value="Firebase">Firebase</option>
            <option value="Authentication">Authentication</option>
        </select>
    </div>
    <div class="form-group">
        <label>My current social focus is: </label>
        <select class="custom-select" ng-model="profile.socialInterest" required>
                <option></option>Ï
            <option value="Project Management">Project Management</option>
            <option value="Becoming a great teammate">Becoming a great teammate</option>
            <option value="Conflict Resolution">Conflict Resolution</option>
            <option value="Communication">Communication</option>
            <option value="Presentation Skills">Presentation Skills</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-default" ng-click="submitUser()">{{submitButtonText}}</button>
    </div>
</form>


<!-- BEGIN MODAL -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <div class="modal-content">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span>
            <h2>Get Sorted</h2>
            <div class="questionArea"><p>1. When beginning relationships or completing things, do you move quickly, or prefer to take your time and go
                more slowly? NOTE: If you are still thinking about this...you should choose <i>"Slowly"</i></p>
            <label class="custom-control custom-radio">
                    <input id="radio1" name="speed" type="radio" value="0" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Quickly</span>
                </label>
            <label class="custom-control custom-radio">
                    <input id="radio2" name="speed" type="radio" value="2" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Slowly</span>
                </label><br>
                </div>
            <hr>
            <div class="questionArea"><p>2. When completing a task, do you prefer to work from a checklist and get stuff done (Task Oriented) or chill
                with people while getting it done (People Oriented)?</p>
            <label class="custom-control custom-radio">
                        <input id="radio3" name="focus" type="radio" value="1" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">People Oriented</span>
                    </label>
            <label class="custom-control custom-radio">
                        <input id="radio4" name="focus" type="radio" value="4" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Task Oriented</span>
                    </label>
                </div>
            <div id="House">
                <center>
                    <h1>{{house}}</h1>
                </center>
            </div>
            <br>
            <center>
                <button type="submit" class="btn btn-primary" ng-click="animalKingdom()">Click to Get House!</button>
                <br>
                <small><a href="">Learn More About Houses</a></small>
            </center>

            <br><br>
        </div>
        </div>
    </div>
</div>