<div class="row align-items-start">
    <div class="col-3 profile" ng-repeat="item in deets">
        <img class="profileImage" ng-src="{{item.profileImg}}"><br>
        <h4><span class="badge badge-info">{{item.achievement}}
                </span></h4>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="{{item.gitHubLink}}" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a ng-href="#!/leaderboard/house/{{item.house}}"><img class="prof-house" ng-src="app/assets/images/{{item.house}}.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h4 class="white">Hello, {{item.first_name}}! <a href="#!/edit-profile"><i class="fa fa-pencil" aria-hidden="true"></i></a></h4>

        <table class="table table-sm profile">
            <tbody>
                <tr>
                    <th scope="row" class="profTable">Exercises</th>
                    <td class="profTableDeet">{{item.exercisesCompleted}}/{{exerciseLength}}</td>
                </tr>
                <tr>
                    <th scope="row" class="profTable">Cohort</th>
                    <td class="profTableDeet">{{item.cohort}}</td>

                </tr>
                <tr>
                    <th scope="row" class="profTable">House</th>
                    <td class="profTableDeet">{{item.house}}</td>

                </tr>
                <tr>
                    <th scope="row" class="profTable">Points</th>
                    <td class="profTableDeet">{{item.points}}</td>
                </tr>
            </tbody>
        </table>

        <h4 class="header">My Upcoming Events</h4>
        <table class="table table-sm profile">
            <tbody>
                <tr ng-repeat="item in userEventDeets | filter:eventDate | filter: {archive:false} | limitTo:4">
                    <th scope="row" class="profTable"><a ng-href="#!/event/{{item.id}}">{{item.eventTitle}}</a></th>
                    <td class="profTableDeet">{{item.eventDate | date:'MM/dd/yyyy'}}</td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="col-9 stuffDiv">
        <div>
            <button type="button" class="btn btn-success btn-sm" ng-click="setTab(1)">My To Do List</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="setTab(2); allMilestones()">Available Exercises</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="setTab(3)">Upcoming Events</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="setTab(4)">Group Projects</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="setTab(5)">My Archived Items</button>
        </div>
        <hr>


        <!-- TAB 1 -->
        <div ng-show="isSet(1)">
            <div class="row">
                <div class="col-9">
                    <input type="search" ng-model="queryMine" class="form-control" aria-describedby="search" placeholder="Search My Stuff" autofocus>
                </div>
                <div class="col-3">
                    <select class="custom-select" ng-model="status">
                        <option value="">View All</option>
                        <option value="Come See Us">Come See Us</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Submitted">Submitted</option>
                        <option value="Scored">Scored</option>
                        <option value="Going">Going</option>
                    </select>
                </div>
            </div>
            <br>
            <h3>My Todo List</h3>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Info</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in exerciseDeets | filter:queryMine | filter:status | orderBy: 'milestone' | filter: {archive:false}">
                        <td scope="row"><a ng-href="#!/exercise/{{item.id}}">{{item.exName}}</a></td>
                        <td>Milestone {{item.milestone}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.points}}</td>
                    </tr>
                    <tr ng-repeat="item in userEventDeets | filter:queryMine | filter:status | filter: {archive:false}">
                        <td scope="row"><a ng-href="#!/event/{{item.id}}">{{item.eventTitle}} | {{item.eventDate | date: 'MM/dd/yyyy'}} | {{item.startTime |date:'h:mm a'}}</a></td>   
                        <td>Location: {{item.locationName}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.points}}</td>
                    </tr>
                    <tr ng-repeat="item in userGroupDeets | filter:queryMine | filter:status | filter: {archive:false}">
                        <td scope="row"><a ng-href="#!/groups/{{item.id}}">{{item.projectName}}</a></td>
                        </td>
                        <td><a ng-href="{{item.linktoRepo}}">Repo Link</a></td>
                        <td>{{item.type}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- TAB 2 -->
        <div ng-show="isSet(2)">
            <div class="row">
                <div class="col-6">
                    <input type="search" ng-model="queryAllEx" class="form-control" aria-describedby="search" placeholder="Search Exercises"
                        autofocus>
                </div>
                <div class="col-6">
                   Milestone: <div class="btn-group mr-2" role="group">
                        <button type="button" class="btn btn-secondary" ng-click="milestones()">All</button>
                        <button type="button" class="btn btn-secondary" ng-click="milestoneGetIt(1)">1</button>
                        <button type="button" class="btn btn-secondary" ng-click="milestoneGetIt(2)">2</button>
                        <button type="button" class="btn btn-secondary" ng-click="milestoneGetIt(3)">3</button>
                        <button type="button" class="btn btn-secondary" ng-click="milestoneGetIt(4)">4</button>
                        <button type="button" class="btn btn-secondary" ng-click="milestoneGetIt(5)">5</button>
                    </div>


                </div>
            </div>
            <br>
            <h3>Available Exercises</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Exercise Name</th>
                        <th>Milestone</th>
                        <th><i class="fa fa-info-circle" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in allExercises | filter:queryAllEx | orderBy:'milestone'">
                    <tr>
                        <th scope="row"><a href ng-click="addExercise(item.sha)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a></th>
                        <td>{{item.name}}</td>
                        <td>{{item.milestone}}</td>
                        <td><a href="{{item.html_url}}" target="_blank">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- TAB 3 -->
        <div ng-show="isSet(3)">
            <div class="row">
                <div class="col-8">
                    <input type="search" ng-model="queryEvents" class="form-control " aria-describedby="search" placeholder="Search Events" autofocus>
                </div>
                <div class="col-4">
                </div>
            </div>
            <br>
            <h3>Available Events</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Date</th>
                        <th>Event Name</th>
                        <th>Location</th>
                        <th><i class="fa fa-info-circle" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in allEvents | filter:queryEvents | orderBy: 'begDate'">
                    <tr>
                        <th scope="row"><a href ng-click="addEvent(item.id)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a></th>
                        <td>{{item.begDate | date: 'MM/dd/yyyy'}} | {{item.startTime | date:'h:mm a'}}</td>
                        <td>{{item.eventTitle}}</td>
                        <td>{{item.locationName}}: {{item.locationAddy}}</td>
                        <td><a href="{{item.eventLink}}" target="_blank">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- TAB 4 -->
        <div ng-show="isSet(4)">
            <div class="row">
                <div class="col-7">
                    <input type="search" ng-model="queryGroup" class="form-control" aria-describedby="search" placeholder="Search Group Projects"
                        autofocus>
                </div>
                <div class="col-5">
                    Cohort:
                    <select class="custom-select" ng-model="cohort">
                    <option value="">View All</option>
                    <option value=19>Cohort 19</option>
                    <option value=20>Cohort 20</option>
                    <option value=21>Cohort 21</option>
                    <option value=22>Cohort 22</option>
                </select>
                </div>
            </div>
            <br>
            <h3>Available Group Projects</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Group Project Name</th>
                        <th>Cohort</th>
                        <th>Repo Link</th>
                        <th>Possible Points</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in allGroupProjects | filter:queryGroup | filter:cohort | orderBy: 'cohort'">
                    <tr>
                        <th scope="row"><a href ng-click="addGroupProject(item.id)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a></th>
                        <td>{{item.projectName}}</td>
                        <td>{{item.cohort}}</td>
                        <td><a href="{{item.linktoRepo}}" target="_blank">Link</a></td>
                        <td>{{item.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- TAB 5 -->
        <div ng-show="isSet(5)">
            <div class="row">
                <div class="col-9">
                    <input type="search" ng-model="queryMine" class="form-control" aria-describedby="search" placeholder="Search My Stuff" autofocus>
                </div>
                <div class="col-3">
                </div>
            </div>
            <br>
            <h3>My Archived Items</h3>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Info</th>
                        <th>Type</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in exerciseDeets | filter:queryMine | filter:status | orderBy: 'milestone' | filter:{ archive: true }">
                        <td scope="row"><a ng-href="#!/exercise/{{item.id}}">{{item.exName}}</a></td>
                        <td>Milestone {{item.milestone}}</td>
                        <td>{{item.type}}</td>

                        <td>{{item.points}}</td>
                    </tr>
                    <tr ng-repeat="item in userEventDeets | filter:queryMine | filter:status | filter:{ archive: true }">
                        <td scope="row"><a ng-href="#!/event/{{item.id}}">{{item.eventTitle}} | {{item.eventDate}} | {{item.startTime}}</a></td>
                        <td>Location: {{item.locationName}}</td>
                        <td>{{item.type}}</td>

                        <td>{{item.points}}</td>
                    </tr>
                    <tr ng-repeat="item in userGroupDeets | filter:queryMine | filter:status | filter:{ archive: true }">
                        <td scope="row"><a ng-href="#!/groups/{{item.id}}">{{item.projectName}}</a></td>
                        </td>
                        <td><a ng-href="{{item.linktoRepo}}">Repo Link</a></td>
                        <td>{{item.type}}</td>

                        <td>{{item.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div id="snackbar">Already in Your List.</div>