<div>
    <div class="row" ng-repeat="item in deets">
        <div class="col">
            <img ng-src="{{item.profileImg}}"><br> 
            <a href="{{item.gitHubLink}}">GitHub Link</a>
            <a href="#!/edit-profile">Edit Your Profile</a>
        </div>
        <div class="col">
            Hello, {{item.first_name}}<br> {{item.cohort}}
            <br> {{item.house}}
            <br> {{item.points}}
        </div>
        <div class="col">
            Possible House Crest/Animal
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item" ng-class="{ active: isSet(1) }">
                <a class="nav-link active" href ng-click="setTab(1)">My Stuff</a>
            </li>
            <li class="nav-item dropdown" ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)" class="nav-link">All Exercises</a>
            </li>
            <li class="nav-item" ng-class="{ active: isSet(3) }">
                <a class="nav-link" href ng-click="setTab(3)">Events</a>
            </li>
            <li class="nav-item" ng-class="{ active: isSet(4) }">
                <a class="nav-link" href ng-click="setTab(4)">Group Projects</a>
            </li>
        </ul>
    </div>

    <!-- TAB 1 -->
    <div ng-show="isSet(2)">
        <input type="search" ng-model="queryAllEx" class="form-control search" aria-describedby="search" placeholder="Search Exercises"
            autofocus><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><i class="fa fa-plus-square" aria-hidden="true"></i></th>
                    <th>Exercise Name</th>
                    <th>Milestone</th>
                    <th><i class="fa fa-info-circle" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody ng-repeat="item in allExercises | filter:queryAllEx | orderBy:'milestone'">
                <tr>
                    <th scope="row"><a href ng-click="addExercise(item.sha)"><i class="fa fa-plus-square" aria-hidden="true"></i></a></th>
                    <td>{{item.name}}</td>
                    <td>{{item.milestone}}</td>
                    <td><a href="{{item.html_url}}" target="_blank">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- TAB 2 -->
    <div ng-show="isSet(1)">
        <input type="search" ng-model="queryMine" class="form-control search" aria-describedby="search" placeholder="Search My Stuff"
            autofocus><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Delete</th>
                    <th>Item Name</th>
                    <th>Milestone</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in exerciseDeets | filter:queryMine | orderBy: 'milestone'">
                    <td scope="row">-</td>
                    <td><a href="{{item.exURL}}" target="_blank">{{item.exName}}</a></td>
                    <td>{{item.milestone}}</td>
                    <td>Exercise</td>
                    <td>N/A</td>
                    <td>Status</td>
                    <td>{{item.points}}</td>
                </tr>
                <tr ng-repeat="item in userEventDeets | filter:queryMine">
                    <td scope="row">-</td>
                    <td><a href="{{item.eventLink}}" target="_blank">{{item.eventTitle}}</a></td>
                    <td>N/A</td>
                    <td>Events</td>
                    <td>{{item.locationName}} | {{item.locationAddy}}</td>
                    <td>Status</td>
                    <td>{{item.points}}</td>
                </tr>
                <tr ng-repeat="item in userGroupDeets | filter:queryMine">
                    <td scope="row">-</td>
                    <td>{{item.projectName}}</a>
                    </td>
                    <td>N/A</td>
                    <td>Group Project</td>
                    <td>N/A</td>
                    <td>Status</td>
                    <td>{{item.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- TAB 3 -->
    <div ng-show="isSet(3)">
        <input type="search" ng-model="queryEvents" class="form-control search" aria-describedby="search" placeholder="Search Events"
            autofocus><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Add</th>
                    <th>Date</th>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in allEvents | filter:queryEvents | orderBy: 'begDate'">
                <tr>
                    <th scope="row">+</th>
                    <td>{{item.begDate}} | {{item.startTime}}</td>
                    <td>{{item.eventTitle}}</td>
                    <td>{{item.locationName}}: {{item.locationAddy}}</td>
                    <td><a href="{{item.eventLink}}" target="_blank">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- TAB 4 -->
    <div ng-show="isSet(4)">
        <input type="search" ng-model="queryGroup" class="form-control search" aria-describedby="search" placeholder="Search Group Projects"
            autofocus> Filter by Cohort: <select ng-model="cohort">
                <option value=19>Cohort 19</option>
                <option value=20>Cohort 20</option>
                <option value=21>Cohort 21</option>
                <option value=22>Cohort 22</option>
            </select>
        <!-- <input type="radio" ng-model="cohort" value=19> Cohort 19<br>
        <input type="radio" ng-model="cohort" value=20> Cohort 20 -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Add</th>
                    <th>Group Project Name</th>
                    <th>Cohort</th>
                    <th>Repo Link</th>
                    <th>Possible Points</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in allGroupProjects | filter:queryGroup | filter:cohort | orderBy: 'cohort'">
                <tr>
                    <th scope="row">+</th>
                    <td>{{item.projectName}}</td>
                    <td>{{item.cohort}}</td>
                    <td><a href="{{item.linktoRepo}}" target="_blank">Link</a></td>
                    <td>{{item.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>