<div class="pageTitle">
    <h1>Group Helper</h1>
</div>
<div class="row">
    <div class="col-8">
        <input type="search" ng-model="queryStudents" class="form-control" aria-describedby="search" placeholder="Search Students"
            autofocus>
    </div>
    <div class="col-4">
    
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-secondary" ng-click="showAllUsers()">All</button>
                <button type="button" class="btn btn-secondary" ng-click="showCohortMembers(19)">19</button>
                <button type="button" class="btn btn-secondary" ng-click="showCohortMembers(20)">20</button>
                <button type="button" class="btn btn-secondary" ng-click="showCohortMembers(21)">21</button>
                <button type="button" class="btn btn-secondary" ng-click="showCohortMembers(22)">22</button>
            </div>

            <a ng-href="#!/admin/graph"><button type="button" class="btn btn-success">Graphs</button></a>
            
    </div>
</div>
<br>
<table class="table table-striped table-bordered table-hover adminTable">
    <thead>
        <tr>
            <th><a href="" ng-click="orderByField='points'; reverseSort = !reverseSort">Points</a></th>
            <th><a href="" ng-click="orderByField='first_name'; reverseSort = !reverseSort">Name</a></th>
            <th><a href="" ng-click="orderByField='cohort'; reverseSort = !reverseSort">Cohort</a></th>
            <th><a href="" ng-click="orderByField='exercisesCompleted'; reverseSort = !reverseSort">Exercises</a></th>
            <th><a href="" ng-click="orderByField='house'; reverseSort = !reverseSort">House</a></th>
            <th><a href="" ng-click="orderByField='techInterests'; reverseSort = !reverseSort">Tech Goal</a></th>
            <th><a href="" ng-click="orderByField='socialInterest'; reverseSort = !reverseSort">Social Goal</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in allUsers | filter:queryStudents | orderBy:orderByField:reverseSort">
            <th scope="row">{{item.points}}</th>
            <td>{{item.first_name}} {{item.last_name}}</td>
            <td>{{item.cohort}}</td>
            <td>{{item.exercisesCompleted}}</td>
            <td>{{item.house}}</td>
            <td>{{item.techInterests}}</td>
            <td>{{item.socialInterest}}</td>
        </tr>
    </tbody>
</table>