<div>
        <div class="row" ng-repeat="item in deets">
            <div class="col">
                <img ng-src="{{item.profileImg}}"><br>
            </div>
            <div class="col">
                <h3>Hello, Admin {{item.first_name}}! <a href="#!/edit-profile"><i class="fa fa-pencil" aria-hidden="true"></i></a></h3>
                <b>Cohort:</b> {{item.cohort}}
                <br> <b>House:</b> {{item.house}}
                <br> <b>Points:</b> {{item.points}}<br>
                <a href="{{item.gitHubLink}}" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </div>
            <!-- <div class="col">
                Possible House Crest/Animal
            </div> -->
        </div>
        <div>
        </div>

        <!-- EVENTS -->
      <h2>Events</h2> 
            <div class="row">
                <div class="col-8">
                    <input type="search" ng-model="queryEvents" class="form-control " aria-describedby="search" placeholder="Search Events" autofocus>
                </div>
                <div class="col-4">
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Delete</th>
                        <th>Date</th>
                        <th>Event Name</th>
                        <th>Location</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in allEvents | filter:queryEvents | orderBy: 'begDate'">
                    <tr>
                        <th scope="row"><i ng-click="deleteSingleEvent(item.id)" class="fa fa-trash-o" aria-hidden="true"></i></th>
                        <td>{{item.begDate}} | {{item.startTime}}</td>
                        <td>{{item.eventTitle}}</td>
                        <td>{{item.locationName}}: {{item.locationAddy}}</td>
                        <td><a href="{{item.eventLink}}" target="_blank">Details</a></td>
                    </tr>
                </tbody>
            </table>
        
    
        <!-- TAB 4 -->
        <h2>Group Projects</h2>
            <div class="row">
                <div class="col-8">
                    <input type="search" ng-model="queryGroup" class="form-control" aria-describedby="search" placeholder="Search Group Projects"
                        autofocus>
                </div>
                <div class="col-4">
                    Filter by Cohort: 
                    <select class="custom-select" ng-model="cohort">
                        <option value=19>Cohort 19</option>
                        <option value=20>Cohort 20</option>
                        <option value=21>Cohort 21</option>
                        <option value=22>Cohort 22</option>
                    </select>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="row">Delete</th>
                        <th>Group Project Name</th>
                        <th>Cohort</th>
                        <th>Repo Link</th>
                        <th>Possible Points</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in allGroupProjects | filter:queryGroup | filter:cohort | orderBy: 'cohort'">
                    <tr>
                            <th scope="row"><i ng-click="deleteSingleGroupProj(item.id)" class="fa fa-trash-o"  aria-hidden="true"></i></a></th>
                        <td>{{item.projectName}}</td>
                        <td>{{item.cohort}}</td>
                        <td><a href="{{item.linktoRepo}}" target="_blank">Link</a></td>
                        <td>{{item.points}}</td>
                    </tr>
                </tbody>
            </table>
    
    </div>