<h2>{{newGroupTitle}}</h2>
<form>
    <div class="form-group">
        <label for="title">Group Project Title</label>
        <input type="text" ng-model="group.projectName" class="form-control" id="title" placeholder="Add A Project Title">
    </div>

    <div class="form-group">
        <label for="title">Link to Project Repo</label>
        <input type="text" ng-model="group.linktoRepo" class="form-control" id="title" placeholder="Add a link to the repo">
    </div>

    <div class="form-group">
        <label for="title">What Cohort is this Assigned to?</label>
        <input type="text" ng-model="group.cohort" class="form-control" id="title" placeholder="Cohort">
    </div>

    <div class="form-group">
        <label for="title">Points Possible</label>
        <input type="text" ng-model="group.points" class="form-control" id="title" placeholder="How many points can a student get for attending?">
    </div>

    <div class="text-center">
        <button class="btn btn-default" ng-click="submitNewGroup()" onclick="myFunction()">{{submitButtonText}}</button>
    </div>
</form>


<div id="snackbar">Your Group Project Has Been Created</div>

<script>
    function myFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar")

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
    }
</script>