<div class="pageTitle">
    <h1>Admin View/Add/Edit New Groups and Events</h1>
</div>

<!-- EVENTS -->
<br>
<div class="row">
    <div class="col">
        <h3>Events</h3>
    </div>
    <div class="col">
        <a ng-href="#!/admin/addEvent"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a> Add An Event
    </div>
</div>
<br>

<div class="row">
    <div class="col-8">
        <input type="search" ng-model="queryEvents" class="form-control " aria-describedby="search" placeholder="Search Events" autofocus>
    </div>
    <div class="col-4">
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Date</th>
            <th>Event Name</th>
            <th>Location</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody ng-repeat="item in allEvents | filter:queryEvents | orderBy: 'begDate'">
        <tr>
            <th scope="row"><a href=""><i ng-click="deleteSingleEvent(item.id)" class="fa fa-trash-o" aria-hidden="true"></i></a> | <a ng-href="#!/admin/addEvent/{{item.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </th>
            <td>{{item.begDate}} | {{item.startTime}}</td>
            <td><a ng-href="#!/admin/addEvent/{{item.id}}">{{item.eventTitle}}</a></td>
            <td>{{item.locationName}}: {{item.locationAddy}}</td>
            <td><a href="{{item.eventLink}}" target="_blank">Details</a></td>
        </tr>
    </tbody>
</table>

<hr>
<!-- TAB 4 -->
<br>
<div class="row">
        <div class="col">
            <h3>Group Projects</h3>
        </div>
        <div class="col">
            <a ng-href="#!/admin/addGroup"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a> Add A Group Project
        </div>
    </div>

<div class="row">
    <div class="col-8">
        <input type="search" ng-model="queryGroup" class="form-control" aria-describedby="search" placeholder="Search Group Projects"
            autofocus>
    </div>
    <div class="col-4">
        Filter by Cohort:
        <select class="custom-select" ng-model="cohort">
                        <option value="">View All</option>
                        <option value=19>Cohort 19</option>
                        <option value=20>Cohort 20</option>
                        <option value=21>Cohort 21</option>
                        <option value=22>Cohort 22</option>
                    </select>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="row"></th>
            <th>Group Project Name</th>
            <th>Cohort</th>
            <th>Repo Link</th>
            <th>Possible Points</th>
        </tr>
    </thead>
    <tbody ng-repeat="item in allGroupProjects | filter:queryGroup | filter:cohort | orderBy: 'cohort'">
        <tr>
            <th scope="row"><a href=""><i ng-click="deleteSingleGroupProj(item.id)" class="fa fa-trash-o" aria-hidden="true"></i></a> | <a ng-href="#!/admin/addGroup/{{item.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </th>
            <td><a ng-href="#!/admin/addGroup/{{item.id}}">{{item.projectName}}</a></td>
            <td>{{item.cohort}}</td>
            <td><a href="{{item.linktoRepo}}" target="_blank">Link</a></td>
            <td>{{item.points}}</td>
        </tr>
    </tbody>
</table>

</div>